extends: default

ignore: |
  collections/
  .git/

rules:
  braces:
    max-spaces-inside: 1
    min-spaces-inside: 0
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  line-length: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
